[submodule "dependencies/pybind11"]
	path = dependencies/pybind11
	url = https://github.com/globalstressindex/pybind11.git
[submodule "dependencies/armadillo-code"]
	path = dependencies/armadillo-code
	url = https://github.com/globalstressindex/armadillo-code.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/globalstressindex/googletest.git
[submodule "dependencies/date"]
	path = dependencies/date
	url = git@github.com:HowardHinnant/date.git
